basePath: /api
host: metering-svc-hnc-metering.apps.blackwhale.cloud.hancom.com
info:
  contact:
    email: support@swagger.io
    name: API Support
    url: http://www.swagger.io/support
  description: metering service server
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: Swagger Example API
  version: "1.0"
paths:
  /count/{container}:
    get:
      consumes:
      - application/json
      description: 특정기간동안 검색된 container
      parameters:
      - description: container name
        in: path
        name: container
        required: true
        type: string
      - description: start
        in: query
        name: start
        required: true
        type: string
      - description: end
        in: query
        name: end
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: ""
        "400":
          description: ""
      summary: container count
  /cpu/{container}:
    get:
      consumes:
      - application/json
      description: 현재 cpu 사용량
      parameters:
      - description: container name
        in: path
        name: container
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: ""
        "400":
          description: ""
      summary: cpu usage
  /memory/{container}:
    get:
      consumes:
      - application/json
      description: 현재 memory 사용량
      parameters:
      - description: container name
        in: path
        name: container
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: ""
        "400":
          description: ""
      summary: memory usage
swagger: "2.0"
